@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FF577F;
    ;
    --cor-hover: #272727;

    --fonte-primaria: 'Do Hyeon', sans-serif;
    --fonte-secundaria: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    position: relative;
    z-index: -1;
    color: var(--cor-secundaria);
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/codigo1.png');
    background-color: rgba(0, 0, 0, 0.9); /* Cor preta com 50% de opacidade */
    background-blend-mode: multiply; /* Mistura a cor de fundo com a imagem de fundo */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    /* filter: blur(8px); */
    z-index: -1;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
    align-items: center
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 100%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 16px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}
.apresentacao__imagem__container {
    display: inline-block;
    border: 3px solid var(--cor-terciaria);
    border-radius: 16px;
}

.apresentacao__imagem {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 16px;
    left: -15px;
    top: 15px;
}

.apresentacao__imagem__habilidades__container {
    display: inline-block;
    border: 1px solid var(--cor-terciaria);
    border-width: 10 px;
    background-color: #FF577F;
    border-radius: 360px;
}

.apresentacao__imagem__habilidades {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    left: 20px;
    top: -20px;
}


.apresentacao__imagem__projetos__container {
    display: inline-block;
    align-items: last baseline;
}

.apresentacao__imagem__projeto {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 16px;
    left: -10px;
    top: 10px;
}
.rodape{
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}

.apresentacao__imagem__projetos__container {
    display: flex;
    gap: 20px;

}

.apresentacao__imagem__projetos__container img {
    max-width: 550px;
    max-height: 700px;
    min-width: 300px;
    min-height: 150px;
}